@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

.text {
    -fx-font-family: "Roboto";
}

.wheel {
    -fx-rotate: -9;
}

#amountLabel {
    -fx-alignment: baseline-right;
}